<!-- ========== HEADER ========== -->
<header
  class="sticky top-0 inset-x-0 flex flex-wrap md:justify-start md:flex-nowrap z-50 w-full text-sm"
>
  <nav
    class="mt-4 relative max-w-2xl w-full bg-white border border-gray-200 rounded-[24px] mx-2 flex flex-wrap md:flex-nowrap items-center justify-between p-1 ps-4 md:py-0 sm:mx-auto dark:bg-neutral-900 dark:border-neutral-700"
  >
    <div class="flex items-center">
      <!-- Logo -->
      <a class="shrink-0" href="#" alt="Logo">
        <img
          class="shrink-0 size-12 grayscale dark:invert"
          src="https://ik.imagekit.io/makanmalam1kali/Assets/logo_color_fNQDTXMSv.png?tr=w-72%2Ch-72%2Cfo-auto"
          alt="Toni Mubarok"
        />
      </a>
      <a
        class="flex-none rounded-md text-xl inline-block font-semibold text-gray-800 hover:text-gray-800 focus:outline-hidden dark:border-neutral-200 dark:text-neutral-100 dark:hover:text-neutral-200"
        href="#"
        aria-label="Toni Mubarok"
      >
        Toni M.
      </a>
      <!-- End Logo -->
    </div>

    <div class="flex items-center gap-1 md:order-4 md:ms-4">
      <a
        class="w-full sm:w-auto whitespace-nowrap py-2 px-3 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-full border border-transparent bg-gray-800 text-white hover:bg-gray-900 focus:outline-hidden focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:bg-white dark:text-neutral-800 dark:hover:bg-neutral-200"
        href="https://drive.google.com/file/d/1YIAqg_uhFxIezkPnrLApM6HVqQw3Ux9I/view?usp=sharing"
        target="_blank"
        rel="noreferrer"
        aria-label="Download CV"
      >
        Download CV
      </a>

      <button
        type="button"
        class="hs-dark-mode-active:hidden block hs-dark-mode font-medium text-gray-800 rounded-full hover:bg-gray-200 focus:outline-hidden focus:bg-gray-200 dark:text-neutral-100 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
        data-hs-theme-click-value="dark"
        aria-label="dark mode toggle"
      >
        <span class="group inline-flex shrink-0 justify-center items-center size-9">
          <svg
            class="shrink-0 size-4"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path>
          </svg>
        </span>
      </button>
      <button
        type="button"
        class="hs-dark-mode-active:block hidden hs-dark-mode font-medium text-gray-800 rounded-full hover:bg-gray-200 focus:outline-hidden focus:bg-gray-200 dark:text-neutral-100 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
        data-hs-theme-click-value="light"
        aria-label="dark mode toggle"
      >
        <span class="group inline-flex shrink-0 justify-center items-center size-9">
          <svg
            class="shrink-0 size-4"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <circle cx="12" cy="12" r="4"></circle>
            <path d="M12 2v2"></path>
            <path d="M12 20v2"></path>
            <path d="m4.93 4.93 1.41 1.41"></path>
            <path d="m17.66 17.66 1.41 1.41"></path>
            <path d="M2 12h2"></path>
            <path d="M20 12h2"></path>
            <path d="m6.34 17.66-1.41 1.41"></path>
            <path d="m19.07 4.93-1.41 1.41"></path>
          </svg>
        </span>
      </button>

      <div class="md:hidden">
        <!-- Toggle Button -->
        <button
          type="button"
          class="hs-collapse-toggle flex justify-center items-center size-9.5 border border-gray-200 text-gray-500 rounded-full hover:bg-gray-200 focus:outline-hidden focus:bg-gray-200 dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
          id="hs-navbar-header-floating-collapse"
          aria-expanded="false"
          aria-controls="hs-navbar-header-floating"
          aria-label="Toggle navigation"
          data-hs-collapse="#hs-navbar-header-floating"
        >
          <svg
            class="hs-collapse-open:hidden shrink-0 size-3.5"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <line x1="3" x2="21" y1="6" y2="6" />
            <line x1="3" x2="21" y1="12" y2="12" />
            <line x1="3" x2="21" y1="18" y2="18" />
          </svg>
          <svg
            class="hs-collapse-open:block hidden shrink-0 size-4"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M18 6 6 18" />
            <path d="m6 6 12 12" />
          </svg>
        </button>
        <!-- End Toggle Button -->
      </div>
    </div>

    <div
      id="hs-navbar-header-floating"
      class="hidden hs-collapse overflow-hidden transition-all duration-300 basis-full grow md:block"
      aria-labelledby="hs-navbar-header-floating-collapse"
    >
      <div
        data-hs-scrollspy="#hs-scrollspy-basic-usage"
        class="flex flex-col md:flex-row md:items-center md:justify-end gap-2 md:gap-3 mt-3 md:mt-0 py-2 md:py-0 md:ps-7 --scrollspy-offset:200"
      >
        <a
          class="py-0.5 md:py-3 px-4 md:px-1 border-s-2 md:border-s-0 md:border-b-2 border-transparent text-gray-500 hover:text-gray-800 focus:outline-hidden dark:text-neutral-300 dark:hover:text-neutral-200 active hs-scrollspy-active:underline"
          href="#about"
          >About</a
        >
        <!-- <a
          class="py-0.5 md:py-3 px-4 md:px-1 border-s-2 md:border-s-0 md:border-b-2 border-transparent text-gray-500 hover:text-gray-800 focus:outline-hidden dark:text-neutral-300 dark:hover:text-neutral-200 hs-scrollspy-active:underline"
          href="#projects"
          >Projects</a
        > -->
        <a
          class="py-0.5 md:py-3 px-4 md:px-1 border-s-2 md:border-s-0 md:border-b-2 border-transparent text-gray-500 hover:text-gray-800 focus:outline-hidden dark:text-neutral-300 dark:hover:text-neutral-200 hs-scrollspy-active:underline"
          href="#skills"
          >Skills</a
        >
        <a
          class="py-0.5 md:py-3 px-4 md:px-1 border-s-2 md:border-s-0 md:border-b-2 border-transparent text-gray-500 hover:text-gray-800 focus:outline-hidden dark:text-neutral-300 dark:hover:text-neutral-200 hs-scrollspy-active:underline"
          href="#work-experience"
          >Work Experience</a
        >
        <a
          class="py-0.5 md:py-3 px-4 md:px-1 border-s-2 md:border-s-0 md:border-b-2 border-transparent text-gray-500 hover:text-gray-800 focus:outline-hidden dark:text-neutral-300 dark:hover:text-neutral-200 hs-scrollspy-active:underline"
          href="#education"
          >Education</a
        >
      </div>
    </div>
  </nav>
</header>
<!-- ========== END HEADER ========== -->