<!-- Education -->
<div id="education" class="mt-10 sm:mt-14">
  <h2 class="mb-3 font-medium text-gray-800 dark:text-neutral-200">
    Education
  </h2>

  <!-- Grid -->
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
    <div class="p-4 border border-gray-200 rounded-lg dark:border-neutral-700">
      <img
        class="inline-block size-12 border border-gray-200 rounded-lg dark:border-neutral-700 mb-3"
        src="./assets/umby.png?as=webp&quality=80"
        alt="Universitas Mercu Buana Yogyakarta Logo"
      />

      <h3 class="mb-1 text-xs text-gray-600 dark:text-neutral-400">
        2020 - 2014
      </h3>

      <p class="font-semibold text-sm text-gray-800 dark:text-neutral-200">
        Bachelor's Degree in Information Systems
      </p>

      <p class="mt-1 text-sm text-gray-600 dark:text-neutral-400">
        Universitas Mercu Buana Yogyakarta
      </p>
      <ul
        class="mt-2 list-disc list-inside text-sm text-gray-600 dark:text-neutral-400"
      >
        <li>Focus: Web-Based Information Systems</li>
        <li>
          Thesis: Development of Android Based Decision Support System for
          Admission of Scholarship Using Simple Additive Weighting Method
        </li>
      </ul>
    </div>

    <div class="p-4 border border-gray-200 rounded-lg dark:border-neutral-700">
      <img
        class="p-1 bg-white inline-block size-12 border border-gray-200 rounded-lg dark:border-neutral-700 mb-3"
        src="./assets/smkn2wonosari.png?as=webp&quality=80"
        alt="SMK Negeri 2 Wonosari Logo"
      />
      <h3 class="mb-1 text-xs text-gray-600 dark:text-neutral-400">
        2009 - 2012
      </h3>

      <p class="font-semibold text-sm text-gray-800 dark:text-neutral-200">
        Vocational High School (SMK) in Computer Network Engineering
      </p>

      <p class="mt-1 text-sm text-gray-600 dark:text-neutral-400">
        SMK Negeri 2 Wonosari
      </p>
    </div>
  </div>
  <!-- End Grid -->
</div>
<!-- End Education -->
