<!-- ========== MAIN CONTENT ========== -->
<main id="content">
  <div id="hs-scrollspy-basic-usage" class="w-full max-w-2xl mx-auto pt-10 px-4 sm:px-6 lg:px-8">
    <include src="./component/main.profile.html"></include>
    <include src="./component/main.about.html"></include>
    <!-- <include src="./component/main.projects.html"></include> -->
    <include src="./component/main.skills.html"></include>
    <include src="./component/main.work.html"></include>
    <include src="./component/main.education.html"></include>
  </div>
</main>
<!-- ========== END MAIN CONTENT ========== -->