<!-- Profile -->
<div id="about" class="flex items-center gap-x-3">
  <div class="shrink-0">
    <img
      class="shrink-0 size-16 rounded-full border-2 border-gray-300 dark:border-neutral-600"
      src="https://ik.imagekit.io/makanmalam1kali/Assets/profile.png?updatedAt=1758683189759&tr=w-90%2Ch-90%2Cfo-auto"
      alt="Avatar"
    />
  </div>

  <div class="grow">
    <h1 class="text-lg font-medium text-gray-800 dark:text-neutral-100">Toni Mubarok</h1>
    <p class="text-sm text-gray-600 dark:text-neutral-300">Software Quality Assurance (QA)</p>
  </div>
</div>
<!-- End Profile -->