<!-- Work Experience -->
<div id="work-experience" class="mt-10 sm:mt-14">
  <h2 class="mb-5 font-medium text-gray-800 dark:text-neutral-100">Work experience</h2>

  <!-- Timeline -->
  <div>
    <!-- Item -->
    <div class="group relative flex gap-x-5">
      <!-- Icon -->
      <div
        class="relative group-last:after:hidden after:absolute after:top-8 after:bottom-2 after:start-3 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700"
      >
        <div class="relative z-10 size-6 flex justify-center items-center">
          <img
            class="shrink-0 size-6"
            src="./assets/AccelByte.min.svg"
            alt="Accelbyte Logo"
            loading="lazy"
          />
        </div>
      </div>
      <!-- End Icon -->

      <!-- Right Content -->
      <div class="grow pb-8 group-last:pb-0">
        <h3 class="mb-1 text-xs text-gray-600 dark:text-neutral-300">Dec 2023 - Apr 2025</h3>

        <p class="font-semibold text-sm text-gray-800 dark:text-neutral-100">
          Technical Project Manager I at PT AccelByte Teknologi Indonesia
        </p>

        <ul class="list-disc ms-6 mt-3 space-y-1.5">
          <li class="ps-1 text-sm text-gray-600 dark:text-neutral-300">
            Oversaw release management and ensured on-time delivery of features.
          </li>
          <li class="ps-1 text-sm text-gray-600 dark:text-neutral-300">
            Resolved cross-departmental blockers to maintain release schedules.
          </li>
          <li class="ps-1 text-sm text-gray-600 dark:text-neutral-300">
            Facilitated collaboration between QA, engineering, and product teams.
          </li>
          <li class="ps-1 text-sm text-gray-600 dark:text-neutral-300">
            Led timeline coordination for product and feature rollouts.
          </li>
        </ul>
      </div>
      <!-- End Right Content -->
    </div>
    <!-- End Item -->
    <!-- Item -->
    <div class="group relative flex gap-x-5">
      <!-- Icon -->
      <div
        class="relative group-last:after:hidden after:absolute after:top-8 after:bottom-2 after:start-3 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700"
      >
        <div class="relative z-10 size-6 flex justify-center items-center">
          <span
            class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium border border-gray-200 bg-white text-gray-800 shadow-2xs dark:bg-neutral-900 dark:border-neutral-700 dark:text-white"
            >•</span
          >
        </div>
      </div>
      <!-- End Icon -->

      <!-- Right Content -->
      <div class="grow pb-8 group-last:pb-0">
        <h3 class="mb-1 text-xs text-gray-600 dark:text-neutral-300">Apr 2021 - Dec 2023</h3>

        <p class="font-semibold text-sm text-gray-800 dark:text-neutral-100">
          Software Quality Assurance at PT AccelByte Teknologi Indonesia
        </p>

        <ul class="list-disc ms-6 mt-3 space-y-1.5">
          <li class="ps-1 text-sm text-gray-600 dark:text-neutral-300">
            Created and executed manual and automated tests for API, game, and web platforms.
          </li>
          <li class="ps-1 text-sm text-gray-600 dark:text-neutral-300">
            Performed REST API testing with Postman, and automated tests using JavaScript/Node.js.
          </li>
          <li class="ps-1 text-sm text-gray-600 dark:text-neutral-300">
            Developed tooling for API client generation from OpenAPI specs, reducing cycle time.
          </li>
          <li class="ps-1 text-sm text-gray-600 dark:text-neutral-300">
            Managed test cases using QMetry and Google Sheets.
          </li>
          <li class="ps-1 text-sm text-gray-600 dark:text-neutral-300">
            Conducted performance testing using K6 and Autocannon.
          </li>
          <li class="ps-1 text-sm text-gray-600 dark:text-neutral-300">
            Worked fully remote across time zones, attending Agile standups and QA syncs.
          </li>
        </ul>

        <div class="mt-3">
          <!-- Card -->
          <a
            class="block border border-gray-200 rounded-lg hover:shadow-2xs focus:outline-hidden dark:border-neutral-700"
            href="https://accelbyte.io/"
          >
            <div class="relative flex items-center overflow-hidden">
              <img
                class="w-32 sm:w-48 h-full absolute inset-0 object-cover rounded-s-lg"
                src="./assets/ab-default-share-image.png?as=webp&quality=80&width=512"
                alt="AccelByte Share Image"
                loading="lazy"
              />

              <div class="grow p-4 ms-32 sm:ms-48">
                <div class="min-h-24 flex flex-col justify-center">
                  <h3 class="font-semibold text-sm text-gray-800 dark:text-neutral-300">
                    Multiplatform Game Backend as a Service | AccelByte
                  </h3>
                  <p class="mt-1 text-sm text-gray-500 dark:text-neutral-300">
                    Accelerate your game development with AccelByte's Game Backend as a Service.
                    Experience robust multiplayer backend solutions to power your games.
                  </p>
                </div>
              </div>
            </div>
          </a>
          <!-- End Card -->
        </div>
      </div>
      <!-- End Right Content -->
    </div>
    <!-- End Item -->

    <!-- Item -->
    <div class="group relative flex gap-x-5">
      <!-- Icon -->
      <div
        class="relative group-last:after:hidden after:absolute after:top-8 after:bottom-2 after:start-3 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700"
      >
        <div class="relative z-10 size-6 flex justify-center items-center">
          <img
            class="shrink-0 size-fit dark:invert"
            src="./assets/gameloft.svg"
            alt="Gameloft Logo"
            loading="lazy"
          />
        </div>
      </div>
      <!-- End Icon -->

      <!-- Right Content -->
      <div class="grow pb-8 group-last:pb-0">
        <h3 class="mb-1 text-xs text-gray-600 dark:text-neutral-300">2016 - Mar 2021</h3>

        <p class="font-semibold text-sm text-gray-800 dark:text-neutral-100">
          Senior Quality Assurance at PT Gameloft Indonesia
        </p>

        <ul class="list-disc ms-6 mt-3 space-y-1.5">
          <li class="ps-1 text-sm text-gray-600 dark:text-neutral-300">
            Mentored junior QA engineers and ensured thorough test coverage.
          </li>
          <li class="ps-1 text-sm text-gray-600 dark:text-neutral-300">
            Led web, mobile and game testing on Android/iOS/PC platforms and verified issues.
          </li>
          <li class="ps-1 text-sm text-gray-600 dark:text-neutral-300">
            Served as interim lead during QA lead absences.
          </li>
        </ul>
      </div>
      <!-- End Right Content -->
    </div>
    <!-- End Item -->
    <!-- Item -->
    <div class="group relative flex gap-x-5">
      <!-- Icon -->
      <div
        class="relative after:absolute after:top-8 after:bottom-2 after:start-3 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700"
      >
        <div class="relative z-10 size-6 flex justify-center items-center">
          <span
            class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium border border-gray-200 bg-white text-gray-800 shadow-2xs dark:bg-neutral-900 dark:border-neutral-700 dark:text-white"
            >•</span
          >
        </div>
      </div>
      <!-- End Icon -->

      <!-- Right Content -->
      <div class="grow pb-8 group-last:pb-0">
        <h3 class="mb-1 text-xs text-gray-600 dark:text-neutral-300">Jul 2012 - 2016</h3>

        <p class="font-semibold text-sm text-gray-800 dark:text-neutral-100">
          Junior Quality Assurance at PT Gameloft Indonesia
        </p>

        <ul class="list-disc ms-6 mt-3 space-y-1.5">
          <li class="ps-1 text-sm text-gray-600 dark:text-neutral-300">
            Performed exploratory and checklist-based testing for mobile games.
          </li>
          <li class="ps-1 text-sm text-gray-600 dark:text-neutral-300">
            Reported bugs clearly to developers and ensured issue reproducibility.
          </li>
          <li class="ps-1 text-sm text-gray-600 dark:text-neutral-300">
            Maintained detailed test documentation and status updates.
          </li>
        </ul>

        <div class="mt-3">
          <!-- Card -->
          <a
            class="block border border-gray-200 rounded-lg hover:shadow-2xs focus:outline-hidden dark:border-neutral-700"
            href="https://www.gameloft.com/"
          >
            <div class="relative flex items-center overflow-hidden">
              <img
                class="w-32 sm:w-48 h-full absolute inset-0 object-cover rounded-s-lg"
                src="./assets/gameloft.png?as=webp&quality=80&width=512"
                alt="Gameloft Image"
                loading="lazy"
              />

              <div class="grow p-4 ms-32 sm:ms-48">
                <div class="min-h-24 flex flex-col justify-center">
                  <h3 class="font-semibold text-sm text-gray-800 dark:text-neutral-300">
                    Gameloft Official: We create gaming experiences
                  </h3>
                  <p class="mt-1 text-sm text-gray-500 dark:text-neutral-300">
                    Gameloft welcomes you to amazing gaming experiences, with hits like Asphalt
                    Legends Unite and Disney Dreamlight Valley. Discover our 25-year legacy in PC,
                    console and mobile gaming!
                  </p>
                </div>
              </div>
            </div>
          </a>
          <!-- End Card -->
        </div>
      </div>
      <!-- End Right Content -->
    </div>
    <!-- End Item -->
  </div>
  <!-- End Timeline -->
</div>
<!-- End Work Experience -->